body{
    margin: 0 auto;
    max-width: 100%;
    /* si camvbio este a 100% los bordes van hasta el final el profe pidio 1140px */
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;


}
body > header{
    display: flex;
    justify-content: space-between;
    text-align: center;
background-color: #005ab6;
    padding: 10px 0;
}
.caja1{
width: 20%;
    background-color: #005ab6;
}
.caja2{
    width: 60%;
    background-color: #005ab6;
    padding: 0 0 10px 0;
}
.caja3{
    width: 20%;
    background-color: #005ab6;
}
.imagen2header{ /* IMAGEN DE "5añosacreditada"*/
    width: 155px;
    height: 60px;
    float: right;

}
.caja2 > nav {
    width: 80%;
}
.caja3{
width: 20%;
    background-color: #005ab6;
    display: flex;
    float: left;
}
nav{
    float: right;
}
.menu{
    list-style-type: none;
    overflow: hidden;
    margin: 5px;
}
.menu > li{
    float: left;
}
.menu > li > a { /* esta me da error   */
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0 5px 0 5px;
    font-weight: 500;
}
.menu > li > a:hover{ /* esta me da error tambien  */
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0 5px 0 5px;
    font-weight: 500;

}

.active > a{ /* no esta funcionando   */
    font-weight: 500 !important;
    text-decoration: red;
}

.col-4{
    width: 33%;
    float: left;
    background-color: rgba(108,109,113,255);
    position: relative;
    line-height: 26px;
    color: white;
    text-decoration: none;
    font-weight: 100;

}
.tercercol-4{
    background-color: rgba(128,128,130,255);
}

.row{
    display: flex;
    width: 100%;
    position: relative;
}
.footer{
    background-color: rgba(108,109,113,255);
    width: 100%;
    /*
    text-align: center;
    margin-top: auto;*/
    padding: 20px 0;
    min-height: 351px;
    height: auto;

}
#idgris{
    background-color: rgba(128,128,130,255);
}
.container{
    background-color: rgba(108,109,113,255);
    padding: 0px !important;
}
.iconsfooter{
    width: 100px;
    height: 50px;
    list-style-type: none;
    overflow: hidden;
    padding: 0 5px 0 5px;
    display: flex;
}
.iconsfooter > li{
    float: left;
}
.iconsfooter > li > i{
    padding: 0 5px 0 5px;
}
.informacionu{
    list-style-type: none;
    overflow: hidden;
    padding: 0 0 5px 0;
}
.lista1,
.lista2{
    width: 100px;
    height: 100px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px 0 0px 70px;
}
.linea {
    border-left: 1px solid white;
    width: 2px;
    height: 150px;
    padding: 0;
    margin: 20px auto 0 auto;
    background-color: rgba(108,109,113,255);
}
/*
aqui va apoyo emocional
 */